.book-item {
  padding: 1rem;
  border-bottom: 1px dashed rgba(105, 127, 238, 0.25);
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.delete {
  cursor: pointer;
  position: absolute;
  height: 15px;
  right: 0%;
}

.delete:before, .delete:after {
  cursor: pointer;
  position: absolute;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #ff4747;
  background-image: linear-gradient(62deg, #ff4747 0%, #bc3e7f 100%);
}

.delete:before {
  transform: rotate(45deg);
}

.delete:after {
  transform: rotate(-45deg);
}